body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'FZZZHONGHJW';
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'FZZCHJW';
  src: url('../fonts/FZZCHJW.ttf');
}
@font-face {
  font-family: 'FZZZHONGHJW';
  src: url('../fonts/FZZZHONGHJW.ttf');
}
@font-face {
  font-family: 'FZZZHUNHJW';
  src: url('../fonts/FZZZHUNHJW.ttf');
}
.st {
  background-color: #06214e;
}
.st .bg {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.st .qcdb {
  width: 65%;
  padding-top: 1.1rem;
  margin: 0 auto;
}
.st .qcdb img {
  width: 100%;
}
.st .wz {
  width: 5.05rem;
  height: 1rem;
  padding-top: 0.25rem;
  line-height: 0.25rem;
  margin: 0.4rem auto;
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 0.2rem;
  font-family: 'FZZZHONGHJW';
  color: #fffae3;
  position: relative;
}
.st .wz .wz1 {
  display: block;
  width: 0.55rem;
  height: 0.22rem;
  border-top: 1px solid #a8a39b;
  border-left: 1px solid #a8a39b;
  position: absolute;
  top: 0;
  left: 0;
}
.st .wz .wz2 {
  display: block;
  width: 0.55rem;
  height: 0.22rem;
  border-bottom: 1px solid #a8a39b;
  border-right: 1px solid #a8a39b;
  position: absolute;
  right: 0;
  bottom: 0;
}
.st .sBtn {
  width: 60%;
  margin: 0 auto;
}
.st .sBtn img {
  width: 100%;
}
.st .mark {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.st .nameInput {
  width: 90%;
  height: 3rem;
  font-size: 0.22rem;
  color: #772e28;
  text-align: center;
  font-family: 'FZZZHONGHJW';
  background-image: url(../images/nameInput.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 54%;
  margin-left: -42%;
  margin-top: -1.5rem;
  padding-top: 0.6rem;
}
.st .nameInput h2 {
  width: 100%;
  height: 0.8rem;
  text-align: left;
  padding-left: 25%;
  line-height: .8rem;
}
.st .nameInput input {
  width: 55%;
  text-align: center;
  font-family: 'FZZZHONGHJW';
  font-size: 0.24rem;
  height: 0.6rem;
  line-height: 0.6rem;
  color: #772e28;
  font-weight: bold;
  margin-left: -0.5rem;
  background-color: transparent;
}
.st .djks {
  width: 2.5rem;
  position: absolute;
  top: 65%;
  left: 50%;
  margin-left: -1.25rem;
  animation-duration: 1s;
  animation-delay: 0.5s;
}
.st .djks img {
  width: 100%;
  height: auto;
}
.st .huan {
  width: 100%;
  height: 3.9rem;
  position: absolute;
  bottom: 0;
  animation: run 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 3.9rem;
}
.st .huan img {
  width: 120%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.answer .bg {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  background-image: url(../images/qbg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.answer .huan {
  width: 100%;
  height: 5rem;
  animation: run 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.answer .huan img {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.answer .answerBox {
  width: 80%;
  height: 7.65rem;
  background-image: url(../images/qabg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: auto;
  font-family: 'FZZZHONGHJW';
  color: #5e3a22;
  position: relative;
  z-index: 2;
}
.answer .answerBox .answerA {
  padding: 1.2rem 0.9rem 0 0.9rem;
  font-weight: bold;
  font-size: 0.3rem;
  line-height: 0.5rem;
}
.answer .answerBox ul {
  font-size: 0.26rem;
  padding: 0.6rem 1rem 0 1rem;
}
.answer .answerBox li {
  height: 0.7rem;
  line-height: 0.74rem;
  position: relative;
  padding-left: 0.5rem;
}
.answer .answerBox li.active div:after {
  content: '';
  display: block;
  width: 0.15rem;
  height: 0.15rem;
  background-color: #d3674f;
}
.answer .answerBox li div {
  width: 0.30rem;
  height: 0.30rem;
  border-radius: 3px;
  border: 2px solid #7d583c;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotateZ(45deg);
}
.answer .answerBox li div:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.answer .nexBtn {
  width: 2.2rem;
  height: 0.7rem;
  background-image: url(../images/next.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 83%;
  left: 50%;
  z-index: 10;
  margin-left: -1.1rem;
}
.answer .nexBtn.active {
  background-image: url(../images/viewre.jpg);
}
.answer .qer {
  animation-delay: 0.5s;
}
.result .bg {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  background-image: url(../images/qbg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 1rem;
}
.result .reBox {
  width: 80%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  border-radius: 0.4rem;
  padding: 0.15rem 0;
  position: relative;
}
.result .reBox h3 {
  height: 0.72rem;
  line-height: 0.3rem;
  padding: 0.21rem 0.1rem;
  font-size: 0.26rem;
  color: #ffffff;
  font-weight: normal;
  font-family: 'FZZZHONGHJW';
  text-align: center;
}
.result .reBox span {
  display: inline-block;
  color: #ffe57c;
  font-size: 0.3rem;
  animation-delay: 1s;
}
.result .reBox .huname {
  width: 2.3rem;
  height: 0.6rem;
  line-height: 0.55rem;
  margin: 0 auto;
  border: 1px solid #c4a65d;
  position: relative;
  border-radius: 0.05rem;
}
.result .reBox .huname div {
  width: 2.2rem;
  height: 0.46rem;
  font-size: 0.3rem;
  border-radius: 0.05rem;
  color: #fff;
  text-align: center;
  background: #c4a65d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.result .reBox .imgBox {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.2rem auto;
  animation-delay: 1s;
}
.result .reBox .imgBox img {
  width: 100%;
}
.result .reBox .content {
  width: 80%;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  height: 35%;
  font-size: 0.26rem;
  overflow: scroll;
  color: #fff;
  animation-delay: 2s;
}
.result .btnBox {
  width: 80%;
  height: 1.2rem;
  margin: 0 auto;
  text-align: center;
}
.result .btnBox div {
  display: inline-block;
  width: 42%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 0.7rem;
}
.result .btnBox .again {
  background-image: url(../images/再测一次.png);
}
.result .btnBox .save {
  background-image: url(../images/692413359442446941.jpg);
}
.result .btnBox .save a {
  display: block;
  width: 100%;
  height: 100%;
}
.result .db {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.result .db .code {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.5rem;
  float: left;
}
.result .db .code img {
  width: 100%;
}
.result .db .wz {
  font-size: 0.22rem;
  color: #eee7d9;
  float: left;
  padding-left: 1.9rem;
  padding-right: 0.1rem;
  padding-top: 0.1rem;
  position: absolute;
  top: 0;
  left: 0;
}
.result canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.result .jt {
  width: 0.45rem;
  height: 0.5rem;
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
}
.result .jt div {
  width: 0.45rem;
  height: 0.5rem;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/箭头.png);
}
.result .mark {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../images/huan.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  position: absolute;
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1000;
}
.result .mark .mjtBox {
  width: 100%;
  height: 2.2rem;
}
.result .mark .mjt {
  height: 1.8rem;
  float: right;
  margin-right: 1rem;
  margin-top: 0.3rem;
}
.result .mark .mjt img {
  width: auto;
  height: 100%;
}
.result .mark a {
  color: #59b2ff;
  font-size: 0.34rem;
  line-height: 0.5rem;
}
.result .mark .fenx {
  padding-top: 0.5rem;
  line-height: 0.5rem;
}
.end .bg {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 0.5rem;
}
.end .luoma {
  width: 70%;
  margin: 0 auto;
}
.end .luoma img {
  width: 100%;
}
.end .huodong {
  color: #fff;
  font-size: 0.28rem;
  text-align: center;
  margin-top: 0.1rem;
}
.end .huodong div {
  display: inline-block;
  width: 2rem;
  height: 0.4rem;
  border-radius: 0.3rem;
  line-height: 0.44rem;
  background-color: #2ea591;
}
.end .huodong.data {
  margin-top: 0.3rem;
}
.end .content {
  color: #ffffff;
  text-align: center;
  font-size: 0.24rem;
  line-height: 0.4rem;
  padding-top: 0.25rem;
}
.end .content span {
  color: #ffda43;
}
.end .imgBox {
  text-align: center;
}
.end .imgBox div {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.end .imgBox div.img1 {
  background-image: url(../images/LOGO-1@2x.png);
}
.end .imgBox div.img2 {
  background-image: url(../images/LOGO-2@2x.png);
}
.end .db {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.end .db .code {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.5rem;
  float: left;
}
.end .db .code img {
  width: 100%;
}
.end .db .wz {
  font-size: 0.22rem;
  color: #eee7d9;
  float: left;
  padding-left: 1.9rem;
  padding-right: 0.1rem;
  padding-top: 0.1rem;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes run {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
